.dateTag{
    margin-top: 1rem !important;
}

.btnDelete{
    margin: 0px 5px;
}

.btnEdit{
    margin: 0px 5px;
}

.textShortened{
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  .textExtended{
        white-space: pre-line;
    }